{% extends "base.html" %}

{% block content %}

<h1>Personnes impliquées dans la catastrophe du Giétro</h1>

    {% if personne %}
    <p>Voici la liste de toutes les personnes référencées dans notre base:</p>
        <ul>
            {% for pers in personne %}
            <li><a class="lien"href="{{url_for('notice', personne_id=pers.id)}}"> {{pers.nom}}, {{pers.prenom}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à la page d'accueil</a></p>

{% endblock %}