{% extends "base.html" %}

{% block content %}

<h1>Lieux touchés par la catastrophe du Giétro</h1>

    {% if lieu %}
        <p class="text-center">Voici la liste de tous les lieux référencées dans notre base:</p>
        <ul class="marge">
            {% for place in lieu %}
                {% if place.pertinent == 1 %}
                    <li><a class="lien"href="{{url_for('village', lieu_id=place.lieuId)}}"> {{place.nom}}</a></li>
                {%endif%}
            {% endfor %}
        </ul>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}


{% endblock %}