{% extends "base.html" %}

{% block content %}

<h1>Personnes impliquées dans la catastrophe du Giétro</h1>

    {% if personne %}
    <p class="text-center">Voici la liste de toutes les personnes référencées dans notre base:</p>
        <ul class="marge">
            {% for pers in personne %}
            <li><a class="lien"href="{{url_for('notice', personne_id=pers.id)}}"> {{pers.nom}}, {{pers.prenom}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}


{% endblock %}