<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <style type="text/css">
     #mapidfu {
       width: 100%;
       height: 100%;
       position: fixed;
     }
    </style>
  </head>
<body>

     <div id="mapidfu">
             <script> var map = L.map('mapidfu').setView([46.07863, 7.21052], 10);

                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    L.marker([46.07863, 7.21052]).addTo(map)
                    .bindPopup('Le Châble')
                    .openPopup();

                    L.marker([46.07937, 7.21661]).addTo(map)
                    .bindPopup('Villette')
                    .openPopup();

                    L.marker([46.07165, 7.22454]).addTo(map)
                    .bindPopup('Le Martinet')
                    .openPopup();

                    L.marker([46.06890, 7.22876]).addTo(map)
                    .bindPopup('Le Liappey [Glapey]')
                    .openPopup();

                    L.marker([46.06247, 7.23787]).addTo(map)
                    .bindPopup('Les Places')
                    .openPopup();

                    L.marker([46.05792, 7.24285]).addTo(map)
                    .bindPopup('Champsec')
                    .openPopup();

                    L.marker([46.05583, 7.25293]).addTo(map)
                    .bindPopup('Le Freygnoley')
                    .openPopup();

                    L.marker([46.05403, 7.26397]).addTo(map)
                    .bindPopup('Lourtier')
                    .openPopup();

                    L.marker([46.06800, 7.26043]).addTo(map)
                    .bindPopup('Au Mayen')
                    .openPopup();

                    L.marker([46.036299, 7.291316]).addTo(map)
                    .bindPopup('Granges Neuves')
                    .openPopup();

                    L.marker([46.03308, 7.30795]).addTo(map)
                    .bindPopup('Fionnay')
                    .openPopup();

                    L.marker([46.02448, 7.32049]).addTo(map)
                    .bindPopup('Le Brecholet [Bressoley]')
                    .openPopup();

                    L.marker([46.02246, 7.32810]).addTo(map)
                    .bindPopup('Bonatchiesse [Bonachissa]')
                    .openPopup();

                    L.marker([46.00279, 7.34290]).addTo(map)
                    .bindPopup('Mauvoisin')
                    .openPopup();

                    L.marker([45.97974, 7.36372]).addTo(map)
                    .bindPopup('Giétro')
                    .openPopup();

                    L.marker([45.97929, 7.35869]).addTo(map)
                    .bindPopup('Torrembet')
                    .openPopup();

                    L.marker([45.94627, 7.36266]).addTo(map)
                    .bindPopup('Boussine [Bussenas]')
                    .openPopup();

                    L.marker([45.93440, 7.37289]).addTo(map)
                    .bindPopup('Le Lancet')
                    .openPopup();

                    L.marker([46.074514, 7.155718]).addTo(map)
                    .bindPopup('Sembrancher')
                    .openPopup();

                    L.marker([46.065198, 7.234764]).addTo(map)
                    .bindPopup('Versegères')
                    .openPopup();

                    L.marker([46.092178, 7.065076]).addTo(map)
                    .bindPopup('Martigny-Bourg')
                    .openPopup();

                    L.marker([46.103166, 7.076695]).addTo(map)
                    .bindPopup('Martigny-Ville')
                    .openPopup();

                    L.marker([46.105799, 7.070451]).addTo(map)
                    .bindPopup('La Bâtiaz')
                    .openPopup();

                    L.marker([46.078, 7.050]).addTo(map)
                    .bindPopup('Le Brocard')
                    .openPopup();

                    L.marker([46.084041, 7.054448]).addTo(map)
                    .bindPopup('La Condémine')
                    .openPopup();

                    L.marker([46.213739, 7.005621]).addTo(map)
                    .bindPopup('Saint-Maurice')
                    .openPopup();
</script>
     </div>

</body>
</html>