<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_9dfb72b0928144b780edf1600b1e2ac0 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_9dfb72b0928144b780edf1600b1e2ac0" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_9dfb72b0928144b780edf1600b1e2ac0 = L.map(
        'map_9dfb72b0928144b780edf1600b1e2ac0', {
        center: [46.072217, 7.217847],
        zoom: 12,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_f86bbd5a68244caa8c5a58675f5d8a8d = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
    
        var marker_939d07a707864ddd9da5917f3844593d = L.marker(
            [46.07863, 7.21052],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_44721e342d9f4c4894f7c93ab8afa726 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_939d07a707864ddd9da5917f3844593d.setIcon(icon_44721e342d9f4c4894f7c93ab8afa726);
            
    
            var popup_ae327eb155ed47a3bd4dfac2e3776094 = L.popup({maxWidth: '100%'
            
            });

            
                var html_40a84eec1dc1429ca46f47a298be0461 = $(`<div id="html_40a84eec1dc1429ca46f47a298be0461" style="width: 100.0%; height: 100.0%;">Le Châble</div>`)[0];
                popup_ae327eb155ed47a3bd4dfac2e3776094.setContent(html_40a84eec1dc1429ca46f47a298be0461);
            

            marker_939d07a707864ddd9da5917f3844593d.bindPopup(popup_ae327eb155ed47a3bd4dfac2e3776094)
            ;

            
        
    
        var marker_36b3138db5c64365ba642a9a55dffac7 = L.marker(
            [46.07937, 7.21661],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_fc79ad615bd54b2b9117262288cd554f = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_36b3138db5c64365ba642a9a55dffac7.setIcon(icon_fc79ad615bd54b2b9117262288cd554f);
            
    
            var popup_94098387d2054e7d8b9e58c9ed766658 = L.popup({maxWidth: '100%'
            
            });

            
                var html_108e0d3717f2480695a56542ffb53ae6 = $(`<div id="html_108e0d3717f2480695a56542ffb53ae6" style="width: 100.0%; height: 100.0%;">Villette</div>`)[0];
                popup_94098387d2054e7d8b9e58c9ed766658.setContent(html_108e0d3717f2480695a56542ffb53ae6);
            

            marker_36b3138db5c64365ba642a9a55dffac7.bindPopup(popup_94098387d2054e7d8b9e58c9ed766658)
            ;

            
        
    
        var marker_c04ade8c58cb4166a89a97f3fabb175c = L.marker(
            [46.07165, 7.22454],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_168e6f72440046728b50f194b9c5438c = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c04ade8c58cb4166a89a97f3fabb175c.setIcon(icon_168e6f72440046728b50f194b9c5438c);
            
    
            var popup_4c3d7b94a7a44cabae4021a0fdd0d247 = L.popup({maxWidth: '100%'
            
            });

            
                var html_16a7780905554d4aa16225eadfa468e7 = $(`<div id="html_16a7780905554d4aa16225eadfa468e7" style="width: 100.0%; height: 100.0%;">Le Martinet [Martinets]</div>`)[0];
                popup_4c3d7b94a7a44cabae4021a0fdd0d247.setContent(html_16a7780905554d4aa16225eadfa468e7);
            

            marker_c04ade8c58cb4166a89a97f3fabb175c.bindPopup(popup_4c3d7b94a7a44cabae4021a0fdd0d247)
            ;

            
        
    
        var marker_f14d96c3152b4f29b7ea37b76ceb9504 = L.marker(
            [46.0689, 7.22876],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_4acd8ce5259b49a7903eaf6e1696d308 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f14d96c3152b4f29b7ea37b76ceb9504.setIcon(icon_4acd8ce5259b49a7903eaf6e1696d308);
            
    
            var popup_4481c0ca32cb40d6ae5a5349987756fa = L.popup({maxWidth: '100%'
            
            });

            
                var html_0ca7c4edc64a4550908d5b8f4beca1ea = $(`<div id="html_0ca7c4edc64a4550908d5b8f4beca1ea" style="width: 100.0%; height: 100.0%;">Le Liappey [Glapey]</div>`)[0];
                popup_4481c0ca32cb40d6ae5a5349987756fa.setContent(html_0ca7c4edc64a4550908d5b8f4beca1ea);
            

            marker_f14d96c3152b4f29b7ea37b76ceb9504.bindPopup(popup_4481c0ca32cb40d6ae5a5349987756fa)
            ;

            
        
    
        var marker_cd84738eeda64658846402eba3a8a95e = L.marker(
            [46.06247, 7.23787],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_5cd700d59d404b66b65d83600da247c0 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_cd84738eeda64658846402eba3a8a95e.setIcon(icon_5cd700d59d404b66b65d83600da247c0);
            
    
            var popup_93bf10d32942471383ad8996d5b9c64a = L.popup({maxWidth: '100%'
            
            });

            
                var html_60995ccb953545278d862f1b162c4bd4 = $(`<div id="html_60995ccb953545278d862f1b162c4bd4" style="width: 100.0%; height: 100.0%;">Les Places [Places]</div>`)[0];
                popup_93bf10d32942471383ad8996d5b9c64a.setContent(html_60995ccb953545278d862f1b162c4bd4);
            

            marker_cd84738eeda64658846402eba3a8a95e.bindPopup(popup_93bf10d32942471383ad8996d5b9c64a)
            ;

            
        
    
        var marker_2606bad4f4e1479880eb4ce0eb190fad = L.marker(
            [46.05792, 7.24285],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_b859b750da1741329a2b597cff1e2ce8 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2606bad4f4e1479880eb4ce0eb190fad.setIcon(icon_b859b750da1741329a2b597cff1e2ce8);
            
    
            var popup_04849be518ef447cb6cfa1f4811909fb = L.popup({maxWidth: '100%'
            
            });

            
                var html_b8205c038c0a410898faacf737b52950 = $(`<div id="html_b8205c038c0a410898faacf737b52950" style="width: 100.0%; height: 100.0%;">Champsec</div>`)[0];
                popup_04849be518ef447cb6cfa1f4811909fb.setContent(html_b8205c038c0a410898faacf737b52950);
            

            marker_2606bad4f4e1479880eb4ce0eb190fad.bindPopup(popup_04849be518ef447cb6cfa1f4811909fb)
            ;

            
        
    
        var marker_58e2296c8d284bba8a6adfdcbd28d32a = L.marker(
            [46.05583, 7.25293],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_04593ffb43674750a0fb3341306565cd = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_58e2296c8d284bba8a6adfdcbd28d32a.setIcon(icon_04593ffb43674750a0fb3341306565cd);
            
    
            var popup_d1665f2415cb4f41a05908f6210a0ca5 = L.popup({maxWidth: '100%'
            
            });

            
                var html_3e8774aeb1864df8a99f1ec4eee4b4d8 = $(`<div id="html_3e8774aeb1864df8a99f1ec4eee4b4d8" style="width: 100.0%; height: 100.0%;">Le Freygnoley [Fraignoley]</div>`)[0];
                popup_d1665f2415cb4f41a05908f6210a0ca5.setContent(html_3e8774aeb1864df8a99f1ec4eee4b4d8);
            

            marker_58e2296c8d284bba8a6adfdcbd28d32a.bindPopup(popup_d1665f2415cb4f41a05908f6210a0ca5)
            ;

            
        
    
        var marker_79220878fc214d5b9762fc8caacdc644 = L.marker(
            [46.05403, 7.26397],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_f21c578a5ebb496e95b4a20f8e4a8582 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_79220878fc214d5b9762fc8caacdc644.setIcon(icon_f21c578a5ebb496e95b4a20f8e4a8582);
            
    
            var popup_956242c467594a508a3cef97640a507a = L.popup({maxWidth: '100%'
            
            });

            
                var html_c82d1346ad4a4df8b0d8cd00f8b96207 = $(`<div id="html_c82d1346ad4a4df8b0d8cd00f8b96207" style="width: 100.0%; height: 100.0%;">Lourtier</div>`)[0];
                popup_956242c467594a508a3cef97640a507a.setContent(html_c82d1346ad4a4df8b0d8cd00f8b96207);
            

            marker_79220878fc214d5b9762fc8caacdc644.bindPopup(popup_956242c467594a508a3cef97640a507a)
            ;

            
        
    
        var marker_7c09c896482d46b7b19d160adb1617d3 = L.marker(
            [46.068, 7.26043],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_a485cff9be38420fa99834a4ab8c0047 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7c09c896482d46b7b19d160adb1617d3.setIcon(icon_a485cff9be38420fa99834a4ab8c0047);
            
    
            var popup_bb835caa490e4fb79354b18a11bad720 = L.popup({maxWidth: '100%'
            
            });

            
                var html_c48d85bc333f4a91ae0d8418218aeaf7 = $(`<div id="html_c48d85bc333f4a91ae0d8418218aeaf7" style="width: 100.0%; height: 100.0%;">Au Mayen</div>`)[0];
                popup_bb835caa490e4fb79354b18a11bad720.setContent(html_c48d85bc333f4a91ae0d8418218aeaf7);
            

            marker_7c09c896482d46b7b19d160adb1617d3.bindPopup(popup_bb835caa490e4fb79354b18a11bad720)
            ;

            
        
    
        var marker_36b8ac61662642b780e688bb28fdef8d = L.marker(
            [46.10601, 7.10982],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_868e63d2e50d477695a142bc14aad5ac = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_36b8ac61662642b780e688bb28fdef8d.setIcon(icon_868e63d2e50d477695a142bc14aad5ac);
            
    
            var popup_98e4e3863d3f487a8005b39965b67b65 = L.popup({maxWidth: '100%'
            
            });

            
                var html_cca3e6ec5abc45259a64bb0cbeb038c5 = $(`<div id="html_cca3e6ec5abc45259a64bb0cbeb038c5" style="width: 100.0%; height: 100.0%;">Granges Neuves</div>`)[0];
                popup_98e4e3863d3f487a8005b39965b67b65.setContent(html_cca3e6ec5abc45259a64bb0cbeb038c5);
            

            marker_36b8ac61662642b780e688bb28fdef8d.bindPopup(popup_98e4e3863d3f487a8005b39965b67b65)
            ;

            
        
    
        var marker_aab295754abf4461bbe5c8fdb54e908e = L.marker(
            [46.03308, 7.30795],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_621f59347f4c4713b55f4d1b52169d08 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_aab295754abf4461bbe5c8fdb54e908e.setIcon(icon_621f59347f4c4713b55f4d1b52169d08);
            
    
            var popup_5b2b5fbd7b5e4d03ae0f49a7703ff218 = L.popup({maxWidth: '100%'
            
            });

            
                var html_7e2deb1e21124f30a8a92fc24c5a8492 = $(`<div id="html_7e2deb1e21124f30a8a92fc24c5a8492" style="width: 100.0%; height: 100.0%;">Fionnay [Fioney]</div>`)[0];
                popup_5b2b5fbd7b5e4d03ae0f49a7703ff218.setContent(html_7e2deb1e21124f30a8a92fc24c5a8492);
            

            marker_aab295754abf4461bbe5c8fdb54e908e.bindPopup(popup_5b2b5fbd7b5e4d03ae0f49a7703ff218)
            ;

            
        
    
        var marker_b2f9138573e54f909cc64630148dc913 = L.marker(
            [46.02448, 7.32049],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_91ac42cbc4d04d41a253e1a94684b0e8 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b2f9138573e54f909cc64630148dc913.setIcon(icon_91ac42cbc4d04d41a253e1a94684b0e8);
            
    
            var popup_87b15751b1734fc088baa1ae735cb291 = L.popup({maxWidth: '100%'
            
            });

            
                var html_0a1ddac8d7b84873b46afb83c98648b2 = $(`<div id="html_0a1ddac8d7b84873b46afb83c98648b2" style="width: 100.0%; height: 100.0%;">Le Brecholet [Bressoley]</div>`)[0];
                popup_87b15751b1734fc088baa1ae735cb291.setContent(html_0a1ddac8d7b84873b46afb83c98648b2);
            

            marker_b2f9138573e54f909cc64630148dc913.bindPopup(popup_87b15751b1734fc088baa1ae735cb291)
            ;

            
        
    
        var marker_48a90c55b5094ffeb1e44beef6432be0 = L.marker(
            [46.02246, 7.3281],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_e8cc5ccc697d41a288cfc56aa0030dd5 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_48a90c55b5094ffeb1e44beef6432be0.setIcon(icon_e8cc5ccc697d41a288cfc56aa0030dd5);
            
    
            var popup_dc79c5a2d2e843329aba536cbeea9d99 = L.popup({maxWidth: '100%'
            
            });

            
                var html_f4716b7c50b74c65955b294b0001d87e = $(`<div id="html_f4716b7c50b74c65955b294b0001d87e" style="width: 100.0%; height: 100.0%;">Bonatchiesse [Bonachissa]</div>`)[0];
                popup_dc79c5a2d2e843329aba536cbeea9d99.setContent(html_f4716b7c50b74c65955b294b0001d87e);
            

            marker_48a90c55b5094ffeb1e44beef6432be0.bindPopup(popup_dc79c5a2d2e843329aba536cbeea9d99)
            ;

            
        
    
        var marker_176be0b284ea4b719272fceeaec29343 = L.marker(
            [46.00279, 7.3429],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_6e264ae354fa4e759d72bb30d82d02b9 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_176be0b284ea4b719272fceeaec29343.setIcon(icon_6e264ae354fa4e759d72bb30d82d02b9);
            
    
            var popup_511ff682e81c4e5bbf7b30d443cfaaf9 = L.popup({maxWidth: '100%'
            
            });

            
                var html_00818221e3a94bf08816275901dfd4fa = $(`<div id="html_00818221e3a94bf08816275901dfd4fa" style="width: 100.0%; height: 100.0%;">Mauvoisin</div>`)[0];
                popup_511ff682e81c4e5bbf7b30d443cfaaf9.setContent(html_00818221e3a94bf08816275901dfd4fa);
            

            marker_176be0b284ea4b719272fceeaec29343.bindPopup(popup_511ff682e81c4e5bbf7b30d443cfaaf9)
            ;

            
        
    
        var marker_7d160e3f78034b67bb8a1a2adf9b53f8 = L.marker(
            [45.97974, 7.36372],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_6f330358b4f54e699bdf54f651621637 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7d160e3f78034b67bb8a1a2adf9b53f8.setIcon(icon_6f330358b4f54e699bdf54f651621637);
            
    
            var popup_b1b577ffa6fb46d89d0f5c67c03b0f60 = L.popup({maxWidth: '100%'
            
            });

            
                var html_66fbc42efc54440c99c355d97bd3c841 = $(`<div id="html_66fbc42efc54440c99c355d97bd3c841" style="width: 100.0%; height: 100.0%;">Gietro [Giétroz]</div>`)[0];
                popup_b1b577ffa6fb46d89d0f5c67c03b0f60.setContent(html_66fbc42efc54440c99c355d97bd3c841);
            

            marker_7d160e3f78034b67bb8a1a2adf9b53f8.bindPopup(popup_b1b577ffa6fb46d89d0f5c67c03b0f60)
            ;

            
        
    
        var marker_73679596a3764fa5897146cccb530555 = L.marker(
            [45.97929, 7.35869],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_6381eedd07d04543b4e86da50119fce4 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_73679596a3764fa5897146cccb530555.setIcon(icon_6381eedd07d04543b4e86da50119fce4);
            
    
            var popup_3012a745ae234f8ba8e7901fcf3c6268 = L.popup({maxWidth: '100%'
            
            });

            
                var html_c11ab491fd224a15856f990eb8a3e002 = $(`<div id="html_c11ab491fd224a15856f990eb8a3e002" style="width: 100.0%; height: 100.0%;">Torrembet</div>`)[0];
                popup_3012a745ae234f8ba8e7901fcf3c6268.setContent(html_c11ab491fd224a15856f990eb8a3e002);
            

            marker_73679596a3764fa5897146cccb530555.bindPopup(popup_3012a745ae234f8ba8e7901fcf3c6268)
            ;

            
        
    
        var marker_9d22fe0126eb43049f643d9b6d372501 = L.marker(
            [45.94627, 7.36266],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_e69620d8e0414f95bd74726221ac2585 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9d22fe0126eb43049f643d9b6d372501.setIcon(icon_e69620d8e0414f95bd74726221ac2585);
            
    
            var popup_070ea7e0323f4901956b5ac21705efa7 = L.popup({maxWidth: '100%'
            
            });

            
                var html_3a91a0a4799045a78dbf3245e7b557ce = $(`<div id="html_3a91a0a4799045a78dbf3245e7b557ce" style="width: 100.0%; height: 100.0%;">Boussine [Bussenas]</div>`)[0];
                popup_070ea7e0323f4901956b5ac21705efa7.setContent(html_3a91a0a4799045a78dbf3245e7b557ce);
            

            marker_9d22fe0126eb43049f643d9b6d372501.bindPopup(popup_070ea7e0323f4901956b5ac21705efa7)
            ;

            
        
    
        var marker_3c4b3cc072964f01844206a3e9460316 = L.marker(
            [45.9344, 7.37289],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_b7a8d4e5fa864da3b0380b747160aa36 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3c4b3cc072964f01844206a3e9460316.setIcon(icon_b7a8d4e5fa864da3b0380b747160aa36);
            
    
            var popup_907711ad043c4d379bfb5634179e71bd = L.popup({maxWidth: '100%'
            
            });

            
                var html_b0bae01c675548168762e58a6b53972c = $(`<div id="html_b0bae01c675548168762e58a6b53972c" style="width: 100.0%; height: 100.0%;">Le Lancet [Lanzet]</div>`)[0];
                popup_907711ad043c4d379bfb5634179e71bd.setContent(html_b0bae01c675548168762e58a6b53972c);
            

            marker_3c4b3cc072964f01844206a3e9460316.bindPopup(popup_907711ad043c4d379bfb5634179e71bd)
            ;

            
        
    
        var marker_ef0f423c2d7c484e888294635cd72b35 = L.marker(
            [46.074514, 7.155718],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9dfb72b0928144b780edf1600b1e2ac0);
        
    

                var icon_739af7d4d43e4e3795a57d2110baaa28 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ef0f423c2d7c484e888294635cd72b35.setIcon(icon_739af7d4d43e4e3795a57d2110baaa28);
            
    
            var popup_6ea04d2ba9494389aea46f784efb0e9e = L.popup({maxWidth: '100%'
            
            });

            
                var html_9604dd7c491d4675a773861b35d08399 = $(`<div id="html_9604dd7c491d4675a773861b35d08399" style="width: 100.0%; height: 100.0%;">Sembrancher</div>`)[0];
                popup_6ea04d2ba9494389aea46f784efb0e9e.setContent(html_9604dd7c491d4675a773861b35d08399);
            

            marker_ef0f423c2d7c484e888294635cd72b35.bindPopup(popup_6ea04d2ba9494389aea46f784efb0e9e)
            ;

            
        
</script>