{%extends "base.html"%}
    {%block titre %}| {{ noticep.nom }} {{noticep.prenom}} | Notice{%endblock%}
<!-- Page qui contient le layout de la notice des personnes de la base de données-->
{% block content %}

    <div class="container-fluid">
    {% if noticep %}
        <div class="row">
            <div class ="col-lg-4" >
                <h4>{{noticep.prenom}} {{ noticep.nom }}</h4>
                       {% if noticep.image != None %}
                    <figure class="small text-center">
                        <img class="rounded-circle center" src="{{noticep.image}}">
                        <figcaption>{{noticep.legende}}</figcaption>
                    </figure>
                {% else %}
                {% endif %}

            </div>
                 <div class ="col-lg-8" >
                     <p>Catégorie : {{noticep.type.type_label}}</p>
                     <dl>
                         {% if noticep.age != None %}
                            <dt>Âge</dt><dd>{{noticep.age}}</dd>
                         {% else %}
                            <dt>Âge</dt><dd>–</dd>
                         {% endif %}

                          {% if noticep.domicile != None %}
                            <dt>Domicile</dt><dd>{{noticep.lieu_de_domicile.nom}}</dd>
                         {% else %}
                            <dt>Domicile</dt><dd>–</dd>
                         {% endif %}
                         {% if noticep.de != None %}
                            <dt>Originaire de</dt><dd>{{noticep.lieu_de_naissance.nom}}</dd>
                         {% else %}
                            <dt>De</dt><dd>–</dd>
                         {% endif %}
                         {% if noticep.travail != None %}
                            <dt>Travail effectué au glacier</dt><dd>{{noticep.travail}}</dd>
                         {% else %}
                            <dt></dt>
                         {% endif %}
                         {% if noticep.fonction != None %}
                            <dt>Fonction</dt><dd>{{noticep.fonction}}</dd>
                         {% else %}
                            <dt></dt>
                         {% endif %}
                         {% if noticep.donnees_biographiques != None %}
                            <dt>Biographie</dt><dd>{{noticep.donnees_biographiques}}</dd>
                         {% else %}
                             <dt></dt>
                         {% endif %}
                         {% if noticep.levee_de_corps != None %}
                         <dt>Levée de corps</dt><dd><i>{{noticep.levee_de_corps}}</i></dd>
                         {% else %}
                             <dt></dt>
                         {% endif %}
                         {% if noticep.informations_complementaires != None %}
                         <dt>Informations complémentaires</dt><dd><i>{{noticep.informations_complementaires}}</i></dd>
                         {% else %}
                             <dt></dt>
                         {% endif %}
                         {% if noticep.mission_debacle != None %}
                            <dt>Mission en 1818</dt><dd>{{noticep.mission_debacle}}</dd>
                         {% else %}
                             <dt></dt>
                         {% endif %}
                         {% if noticep.correspondance!= None %}
                         <dt>Extrait de la correspondance de {{noticep.prenom}} {{noticep.nom}}</dt><dd><i>{{noticep.correspondance}}</i></dd>
                         <dd><a href="{{url_for('visionneuse', url=url)}}">Voir la lettre</a></dd>
                         {% else %}
                             <dt></dt>
                         {% endif %}
                         {% if noticep.wikipedia != None %}
                         <dt>Wikipedia</dt><dd><a target="blank" href="{{noticep.wikipedia}}">{{noticep.wikipedia}}</a></dd>
                         {% else %}
                             <dt></dt>
                         {% endif %}

                         {% if noticep.dhs != None %}
                         <dt>DHS</dt><dd><a target="blank" href="{{noticep.dhs}}">{{noticep.dhs}}</a></dd>
                         {% else %}
                             <dt></dt>
                         {% endif %}

                         {% if noticep.type.typeId == 4 %}
                         <dt>Procès-verbal de la levée de corps</dt>
                         <dd><a href="{{url_for('visionneuse', url='AEV-3-DTP-28-2-18')}}" target="blank">
                             AEV, 3 DTP 28.2.18</a></dd>
                         {% else %}
                             <dt></dt>
                         {% endif %}

                         {% if noticep.document1 != None %}
                         <dt>Documents d'archives</dt><dd><a href="{{url_for('visionneuse', url='{{noticep.document1url}}')}}" target="blank">{{noticep.document1}}</a></dd>
                              {% if noticep.document2 != None %}
                         <dd><a href="{{url_for('visionneuse', url='{{noticep.document2url}}')}}" target="blank">{{noticep.document2}}</a></dd>
                                        {% if noticep.document3 != None %}
                                        <dd><a href="{{url_for('visionneuse', url='{{noticep.document3url}}')}}" target="blank">{{noticep.document3}}</a></dd>
                                              {% if noticep.document4 != None %}
                                                <dd><a href="{{url_for('visionneuse', url='{{noticep.document4url}}')}}" target="blank">{{noticep.document4}}</a></dd>
                                                    {% if noticep.document5 != None %}
                                                <dd><a href="{{url_for('visionneuse', url='{{noticep.document5url}}')}}" target="blank">{{noticep.document5}}</a></dd>
                                                        {% if noticep.document6 != None %}
                                                <dd><a href="{{url_for('visionneuse', url='{{noticep.document6url}}')}}" target="blank">{{noticep.document6}}</a></dd>
                                                            {% if noticep.document7 != None %}
                                                <dd><a href="{{url_for('visionneuse', url='{{noticep.document7url}}')}}" target="blank">{{noticep.document7}}</a></dd>
                                                                {% if noticep.document8 != None %}
                                                <dd><a href="{{url_for('visionneuse', url='{{noticep.document8url}}')}}" target="blank">{{noticep.document8}}</a></dd>
                                                                    {% if noticep.document9 != None %}
                                                <dd><a href="{{url_for('visionneuse', url='{{noticep.document9url}}')}}" target="blank">{{noticep.document9}}</a></dd>
                                                                        {% if noticep.document10 != None %}
                                                <dd><a href="{{url_for('visionneuse', url='{{noticep.document10url}}')}}" target="blank">{{noticep.document10}}</a></dd>
                                                                            {% if noticep.document11 != None %}
                                                <dd><a href="{{url_for('visionneuse', url='{{noticep.document11url}}')}}" target="blank">{{noticep.document11}}</a></dd>
                                                                            {% else %}
                                                                            <dt></dt>
                                                                            {% endif %}
                                                                        {% else %}
                                                                        <dt></dt>
                                                                        {% endif %}
                                                                    {% else %}
                                                                    <dt></dt>
                                                                    {% endif %}
                                                                {% else %}
                                                               <dt></dt>
                                                                {% endif %}
                                                            {% else %}
                                                            <dt></dt>
                                                            {% endif %}
                                                        {% else %}
                                                        <dt></dt>
                                                        {% endif %}
                                                    {% else %}
                                                    <dt></dt>
                                                    {% endif %}
                                                {% else %}
                                                <dt></dt>
                                                {% endif %}
                                            {% else %}
                                            <dt></dt>
                                            {% endif %}
                                        {% else %}
                                        <dt></dt>
                                        {% endif %}
                                    {% else %}
                                    <dt></dt>
                                    {% endif %}

                         {% if noticep.source != None %}
                         <dt>Sources</dt>
                         <dd>{{noticep.source}}</dd>
                         {% else %}
                                        <dt></dt>
                         {% endif %}



                     </dl>
                 </div>
        </div>
    {% else %}
        <h4>Oups !</h4>
        <p>La notice que vous recherchez n'existe pas.</p>
    {% endif %}
    </div>
{% endblock %}
