{% extends "base.html" %}
{% block content %}

<div class = "container" id="formulaire-recherche-avancee" style="padding-top: 5%; padding-bottom: 5%">
	<h2>Formulaire de recherche avancée</h2>
	<form action="{{url_for('resultatavance')}}" method="GET" id="recherche_form">

	<div class="form-group">
		<input class="form-control" type="search" name="motclef" placeholder="Recherche plein texte">
	</div>

	<div class="form-group">
		<input class="form-control" type="search" name="nom" placeholder="Nom">
	</div>

	<div class="form-group">
		<input class="form-control" type="search" name="prenom" placeholder="Prénom">
	</div>

	<div class="form-group">
		<input class="form-control" type="search" name="de" placeholder="Lieu de naissance">
	</div>

	<div class="form-group">
		<input class="form-control" type="search" name="domicile" placeholder="Lieu de domicile">
	</div>

	<div class="form-group">
		<input class="form-control" type="search" name="lieu" placeholder="Village">
	</div>

	<!--dropdown pour les 4 rôles possibles lors de la catastrophe -->
	<div class="form-group">
		<label>Catégorie</label>
		<select class="form-control" name="role">
			<option value="all">Sélectionner une valeur</option>
			{% for cat in types %}
				<option value="{{cat.type_label}}">{{cat.type_label}}</option>
			{% endfor %}
		</select>
	</div>
	<button type="submit" class="btn btn-primary" id="search">Rechercher</button>
	</form>
</div>

{% endblock %}