
{%extends "base.html"%}

{%block titre %}| {{titre}}{%endblock%}

{% block content %}
    {% if resultats %}
        {% if resultats.total == 0%}

        <p>Il n'y a pas de résultats. Etes-vous sûr de l'orthographe? Nous avons pris le parti de respecter l'orthographe
        actuelle des patronymes et de la toponymie.</p>

        {% elif resultats.total == 1 %}

        <p>Il y a {{resultats.total}} résultat qui répond à votre requête: </p>

        {% else %}

        <p>Il y a {{resultats.total}} résultats qui répondent à votre requête: </p>

        {% endif %}

        {% for res in resultats.items %}
                <ul>
                    <li><a class="lien" href="{{url_for('notice', personne_id=res.id)}}"> {{res.nom}}, {{res.prenom}}</a></li>
                </ul>
        {% endfor %}

        <nav aria-label="pagination" class="pagination">
            {% for page_num in resultats.iter_pages() %}
                {% if page_num %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('resultatavance', resultats=resultats, titre=titre, motclef=motclef,
                nom=nom, prenom=prenom, de=de, domicile=domicile, role=role, page=page_num, lieu=lieu, village=village)}}">{{page_num}}</a>
                {% endif %}
            {% endfor %}
        </nav>
    {%elif village %}

        {% if village.total == 0%}

        <p>Il n'y a pas de résultats. Etes-vous sûr de l'orthographe? Nous avons pris le parti de respecter l'orthographe
        actuelle des patronymes et de la toponymie.</p>

        {% elif resultats.total == 1 %}

        <p>Il y a {{village.total}} résultat qui répond à votre requête: </p>

        {% else %}

        <p>Il y a {{village.total}} résultats qui répondent à votre requête: </p>

        {% endif %}

        {% for res in village.items %}

                <ul>
                    <li><a class="lien" href="{{url_for('village', lieu_id=res.lieuId)}}"> {{res.nom}}</a></li>
                </ul>

        {% endfor %}

        <nav aria-label="pagination" class="pagination">
            {% for page_num in village.iter_pages() %}
                {% if page_num %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('resultatavance', resultats=resultats, titre=titre, motclef=motclef,
                nom=nom, prenom=prenom, de=de, domicile=domicile, role=role, page=page_num, lieu=lieu, village=village)}}">{{page_num}}</a>
                {% endif %}
            {% endfor %}
        </nav>

    {% endif%}


<div class = "container paddingr">
    <a class="btn btn-primary" href="{{ url_for('rechercheavancee') }}">Faire une nouvelle recherche</a>
</div>

{% endblock %}