{% extends "base.html" %}
{%block titre %}| {{titre}}{%endblock%}

{% block content %}
{% if results %}

    <p>Il y a {{results.total}} résultats qui répondent à votre requête</p>

        {% for personne in results.items %}
            <ul>
                <li><a href="{{url_for('notice', personne_id=personne.id)}}"> {{personne.nom}}, {{personne.prenom}}</a></li>
            </ul>
        {% endfor %}

    <nav aria-label="pagination" class="pagination">

        {% for page_num in results.iter_pages() %}
            {% if page_num %}
                <a class = "btn btn-outline-info mb-4 " href="{{url_for('search_results', page=page_num, motclef=motclef,
                results=results, title=title)}}">{{page_num}}</a>
            {% endif %}
        {% endfor %}
    </nav>

{%else%}

    <p>Il n'y a pas de résultats, êtes-vous sûr de l'orthographe?</p>

{%endif%}

<div class= "container" style="padding-bottom: 5%; text-align:center">
    <a class="btn btn-primary" href="{{ url_for('rechercheavancee') }}">Faire une recherche avancée</a>
</div>
{% endblock %}