{%extends "base.html"%}
{%block titre %}| {{noticev.nom}}{%endblock%}
<!-- Page qui contient le layout de la notice des personnes de la base de données-->
{% block content %}
    <div class="container-fluid">
    {% if noticev %}
        <h4> {{ noticev.nom }}</h4>
        <div class="row">
            <div class ="col-lg-4" >

                <iframe width="400" heigtht="400" src="{{url_for('carte')}}"></iframe>
            </div>
                 <div class ="col-lg-8" >
                     <dl>
                            {% if noticev.commune != None %}
                            <dt>Commune:</dt><dd>{{noticev.commune}}</dd>
                            {% endif %}
                            {% if noticev.degats != None %}
                            <dt>Dégats:</dt><dd>{{noticev.degats}}</dd>
                            {% else %}
                            <dt>Dégâts:</dt><dd>–</dd>
                            {% endif %}
                            {% if noticev.nombre_morts != None %}
                            <dt>Nombre de morts:</dt><dd>{{noticev.nombre_morts}}</dd>
                            {% else %}
                            <dt>Nombre de morts:</dt><dd>–</dd>
                            {% endif %}
                                 {% if noticev.animaux_emportes != None %}
                            <dt>Animaux emportés:</dt><dd>{{noticev.animaux_emportes}}</dd>
                            {% else %}
                            <dt>Animaux emportés:</dt><dd>–</dd>
                            {% endif %}
                          </dl>

                 </div>
        </div>
    {% else %}
        <h4>Oups !</h4>
        <p>La notice que vous recherchez n'existe pas.</p>
    {% endif %}
    </div>
{% endblock %}
