html, body{
height:100%;
width: 100%;
color:#222;
background-color:#f6eeee;
font-family:"Gza";
}


/* Marge des paragraphes de texte */
p
{margin-left:20% !important;
margin-right:20% !important;
text-align:justify;}


/* Règles pour les titres */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #990000;
  text-align:center;
  font-family: "Gza";
}

h2 {
padding:20px;}

h4 {
padding-bottom: 5%;
padding-top: 5%;}

/* Règles pour la barre de navigation */
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color:#f6eeee !important;
  color: #222 ;
}

.nav-link {
  display: block;
  color: #990000 !important ;
  border-color: #990000 !important;
  border-radius: 5px;
  padding: 0.5%;
  width: 100%;
  height: 100%;
  text-align:center;
  font-family: Gza;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
  color: #f6eeee !important ;
  background-color: #990000 ;
  border-color: #b30000;
}

/*Règle pour les boutons du site */
.btn-primary {
  color: #fff;
  background-color: #990000;
  border-color: #990000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #b30000;
  border-color: #b30000;
}

.btn-outline-info{
color: #990000 !important;
background-color: #ffffe6 !important;
border-color: #990000 !important; }

.btn-outline-info:hover{
color: #ffffe6!important;
background-color: #990000 !important;}


/* Règles pour les formulaires */
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b30000 !important;
  background-color: #f6eeee !important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #990000;
  background-color: #fff;
  border-color: #80bdff;
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.form-inline:focus {
  color: #990000;
  background-color: #fff;
  border-color: #80bdff;
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

input-group:focus {
background-color:#ffffe6 !important;
outline: none !important;}


/* Changement de la couleur et du padding dans le footer */
footer {
color:#ffffe6;
background-color:#990000;
text-align:center;}

.paddingf{
padding-top: 1%;
}

.paddingr {
padding-top: 5%;
padding-bottom: 5%;
}

.anecd{

font-size: 75%;
border:2px;
}

.citation{
font-size: 85%
border:2px;
}

.citation-encadrement{

font-size:50%;
font-style:italic;
}

.encadrement{

text-align:center;
border: 3px solid black;
margin-left:325px;
margin-right:325px;
margin-top: 50px;
margin-bottom: 50px;
padding-top: 25px;

}


.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background-color:#990000;
    color: #fff;
    border-radius: 10px;
;

}

.styled:hover {
    background-color: #b30000;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/* css pour les icones des réseaux sociaux */
.social {
color:#ffffe6;
font-size: 30px;
padding: 1rem;
}

.social:hover {
color:#ffffe6;
}



/* Modification de la couleur du bouton de recherche */
.cherche{
color: #f6eeee !important;
background-color:#990000;
}


/* Modification des marges et de la couleurs pour les longues citations */
.citation{ padding-left: 5% !important;
padding-right: 5% !important;
color:#808080;}



/* Taille de la police pour les notes en exposant */
sup {font-size:75% !important;}


/* modification de la couleur des liens */
a {color: #990000;}

a:hover{
color:#990000;}


/* logo du musée et des archives */
.logoa {width:15%;
height:auto;}

.logom {width:30%;
height:auto;
padding-bottom:2.7rem;
padding-top:2rem;}


/* ajout de la police du livre */
@font-face {
   font-family: Gza;
   src: url('Gza-Alt-Super.otf');
}



/* ajout du bouton pour remonter au sommet */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #990000;
  color: #f6eeee;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #b30000;
}



/* css pour le dropdown dans la barre de nav */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #222;
  text-align: left;
  list-style: none;
  background-color: #f6eeee !important;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu a:hover{
    background-color:#990000;
    color:#f6eeee; }




/* css des cartes pour les pages suivantes */
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  max-width:250 !important;

  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  border-color: #990000;
}

.titre_entete {
font-weight : bolder;
text-align: center !important;
}

.entete {
text-align: center;
font-weight : bolder;
}

.autentete{
text-align: center;
font-size: small;
}


.titre-anecd{

font-size:90%;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20;
  width: 50%;
}

.card-text{
font-size: 10;
margin-left: 1 !important;
margin-right: 1 !important;}
}

.card-title {
font-size: 8 !important;}


.lire {
text-align: right;}


/*css de la bannière*/

.image_full{
   display:block !important;
   size: 100%;
  }

 .image_mobile{
  display:none !important;
 }

@media (max-width: 768px) and (min-width: 320px){
  .image_full{
   display:none !important;
  }

  .image_mobile{
   display:block !important;
   size: 100%;
  }



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








